body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;

	height: 100%;
	background-color: #060;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.full {
	background: url(../assets/img/marss.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#enterBtn{
	padding: 30px 0px;
}