<!DOCTYPE html>
<html lang="ru" ng-app="NgApp" ng-controller="TopController" ng-cloak>
<head>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Open Mars">
		<meta name="author" content="Andrew Medvedev <andrew.medvedev.nh@gmail.com>">

		<title>Открытый марс | фотографии с поверхности Марса!</title>

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/loading-bar.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css">
		<link href="/css/loading-bar.min.css" rel="stylesheet">

		<link ng-href="/css/style-{{topLevelPage()}}.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body class="full">
	<ng-view></ng-view>

	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/js/lib/angular.js"></script>
	<script src="/js/lib/angular-route.min.js"></script>
	<script src="/js/lib/loading-bar.min.js"></script>
	<script src="/js/lib/underscore-min.js"></script>
	<script src="/js/lib/paging.min.js"></script>

	<script src="/js/app/app.js"></script>

	<script src="/js/app/routing.js"></script>

	<script src="/js/app/controllers/topController.js"></script>
	<script src="/js/app/controllers/galleryController.js"></script>
	<script src="/js/app/controllers/photosPageController.js"></script>

	<script src="/js/app/services/apiService.js"></script>
	<script src="/js/app/services/utilsService.js"></script>
</body>
</html>