<div class="row">
	<div class="col-md-1 col-md-offset-3" id="random-padding-1">
		<img class="img-responsive img-circle center-block" src="assets/img/Uf4h6CQtRjk.jpg">
	</div>
	<div class="col-md-5">
		<h2>Привет</h2>
		<p>Меня зовут Андрей, я автор этого проекта. Его цель - показать вам специально отобранные снимки Марса, сделанные во время 3-х миссий "Curiosity", "Opportunity" и "Spirit". В данный момент на поверхности марса действует марсоход "Curiosity" и база снимков постоянно пополняется.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-4">
		<h3>Данные предоставлены:</h3>
		<img class="img-responsive" src="assets/img/opennasa.png">
		<h3>На обслуживание и улучшение проекта :)</h3>
		<iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=410012580917507&quickpay=shop&payment-type-choice=off&writer=seller&targets=%D0%9D%D0%B0+%D1%82%D0%B5%D1%85%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B5+%D0%BE%D0%B1%D1%81%D0%BB%D1%83%D0%B6%D0%B8%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5&default-sum=250&button-text=03&comment=on&hint=%D0%92%D0%B0%D1%88%D0%B8+%D0%BF%D0%BE%D0%B6%D0%B5%D0%BB%D0%B0%D0%BD%D0%B8%D1%8F+%3A)&successURL=%2F" width="450" height="268"></iframe>
	</div>
</div>