<div>
	<div class="navbar-wrapper">
		<div class="container-fluid">
			<nav class="navbar navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#/">Открытый Марс <i class="fa fa-hand-spock-o"></i></a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li ng-class="{ active: isCuriosityPicked() }">
								<a href="" ng-click="locateToRover('curiosity')">Curiosity</a>
							</li>
							<li ng-class="{ active: isOpportunityPicked() }">
								<a href="" ng-click="locateToRover('opportunity')">Opportunity</a>
							</li>
							<li ng-class="{ active: isSpiritPicked() }">
								<a href="" ng-click="locateToRover('spirit')">Spirit</a>
							</li>
						</ul>
						<ul class="nav navbar-nav pull-right">
							<li ng-class="{ active: isAboutPage() }">
								<a href="" ng-click="pickAboutPage()">Об этом сайте <i class="fa fa-info-circle"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<!-- Page Content -->
	<div class="container">

		<div ng-switch on="isAboutPage()">
			<div ng-switch-when="true">
				<ng-include src="'parts/aboutPage.html'"></ng-include>
			</div>
			<div ng-switch-when="false">
				<div ng-if="!isLoading()">
			        <ng-include src="'parts/roverCard.html'"></ng-include>
			        <ng-include src="'parts/photosPage.html'"></ng-include>
			    </div>
			</div>
		</div>
    </div>
    <!-- /.container -->

    <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">2015 - Открытый Марс
	      <a href="https://vk.com/andrew_medvedev_nh" target="_blank">Andrew Medvedev</a>
      </p>
    </div>
    
    
  </div>
</div>