<div ng-controller="PhotosPageController">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{getPickedRover()}}
                <small>{{getCurrentSol() + 1}} сутки на марсе</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

	<div class="row" ng-if="isShowPhotos()" ng-repeat="photosLine in getCurrentPhotos()">
		<div class="col-md-3 portfolio-item" ng-repeat="photo in photosLine">
			<a href="" class="thumbnail" data-toggle="modal" ng-click="clickOnPhoto($event)" data-target="#lightbox">
				<img class="img-responsive" ng-src="{{photo.imgSourceUrl}}" alt="">
			</a>
		</div>
	</div>
    <div class="row" ng-if="!haveCurrentPhotos()">
        <div class="col-md-6">
            <h3>{{getPhotosPlaceholder()}}</h3>
        </div>
    </div>

    <hr>

    <div ng-if="isShowPhotos()" id="pagination-padding">
        <div class="row text-center">
            <div class="col-lg-12">
                <div paging
                    page="paginatorGetPage()" 
                    page-size="paginatorGetPageSize()" 
                    total="paginatorGetTotalSize()"
                    paging-action="paginatorPickPage(page)"
                    scroll-top="true"
                    hide-if-empty="true"
                    show-prev-next="true">
                </div>
            </div>
        </div>
    </div>

    <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
			<div class="modal-content">
				<div class="modal-body">
					<img src="" alt="" />
				</div>
				<p><strong>Марсианские сутки:</strong> <span id="lightbox-sol"></span></p>
				<p><strong>Снято на камеру:</strong> <span id="lightbox-camera"></span></p>
				<p><strong>Земная дата снимка:</strong> <span id="lightbox-date"></span></p>
			</div>
		</div>
	</div>

</div>