<div class="row">
	<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
	 <div class="well profile">
        <div class="col-sm-12">
            <div class="col-xs-12 col-sm-8">
                <h2>{{getPickedRoverCard().name}}</h2>
                <p><strong>Примарсение: </strong> {{getPickedRoverCard().landingDate}}</p>
                <p><strong>Количество камер: </strong> {{getPickedRoverCard().camerasAmount}}</p>
                <p><strong>Камеры: </strong> {{getPickedRoverCard().cameras}}</p>
            </div>             
            <div class="col-xs-12 col-sm-4 text-center">
                <figure id="random-padding-2">
                    <img class="img-responsive img-rounded" ng-src="{{getPickedRoverImgPath()}}" alt="">
                </figure>
            </div>
        </div>            
        <div class="col-xs-12 divider text-center">
            <div class="col-xs-12 col-sm-4 emphasis">
                <h2><strong>{{getPickedRoverCard().totalAmountOfPhotos}}</strong></h2>                    
                <p><small>Сделано фото</small></p>
            </div>
            <div class="col-xs-12 col-sm-4 emphasis">
                <h2><strong>{{getPickedRoverCard().maxSols}}</strong></h2>                    
                <p><small>Марсианских суток</small></p>
            </div>
            <div class="col-xs-12 col-sm-4 emphasis">
                <h2><strong>{{getPickedRoverCard().photosInDb}}</strong></h2>                    
                <p><small>Фото в базе</small></p>
            </div>
        </div>
	 </div>                 
	</div>
</div>