<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1>Открытый Марс <i class="fa fa-hand-spock-o"></i></h1>
            <h3>Более 140,000 фотографий Марса, более 6,000 марсианских суток, 3 марсохода!</h3>
            <p>База данных постоянно пополняется.</p>
            <!-- <img class="img-responsive" src="/assets/img/hqdefault.jpg"> -->
            <div id="enterBtn" >
            	<button type="button" class="btn btn-success btn-lg" ng-class="{disabled: isOpenDisabled()}" ng-click="open()">Открыть!</button>
            </div>
            <p>2015 - Открытый Марс
	            <a href="https://vk.com/andrew_medvedev_nh" target="_blank">Andrew Medvedev</a>
	        </p>
        </div>
    </div>
</div>

